.waf-widget.waf-simplespreadsheet {
	background-color:gray;
}

.waf-simplespreadsheet-part-spread {
  position:absolute; 
  top:0;
  left:0;
  right:0; 
  height:95%;

} 

.waf-simplespreadsheet-part-restore {
  position:absolute; 
  top:95%;
  bottom:0;
  left:0;
  width:33%;
  height:5%;

} 

.waf-simplespreadsheet-part-save {
  position:absolute;
  top:95%; 
  bottom:0px;
  left:67%;
  width:33%;
  height:5%;

} 